// normalize our css
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
// must import bootstrap before your own styles - otherwise your styles will be overwritten
@import 'bootstrap/dist/css/bootstrap.min.css';

// import all other sass files
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './base/variables';
@import './scenes/services';
@import './scenes/home';
@import './scenes/about';
@import './components/layout/header';
@import './components/layout/footer';

body {
  @include default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}